
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <style media="screen">
      body{
        background-color:#F3E9DC;
        font-family: 'Poppins', sans-serif;
      }
      nav{
        background-color:#F3E9DC;

      }
      hr{
        padding: 0 !important;
        margin: 0 !important;
      }
      .intro-left{
        text-align: justify;
        padding-top: 5%;
      }
      .intro-right{
        padding-top: 6%;
      }
      .header{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
      }
      
.footer{
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.button{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;

}  
.button3{
    width: 15%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1.5%;
}
.button1{
    color:black;
    background-color:#F3E9DC;

}
.button4{

    color:black;
    background-color: white;
    width: 5%;
   
}
.button2{
  background-color: black;
  color: white
}
.grid-container {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto;
  
  padding: 10px;
}
.col-sm-6{
    text-align: justify !important;

}

.grid-item {
  
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: auto;
  width: 100%;
  margin-top: 5%;
}
.image{
    padding: 5%;
   width: 100%;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  margin-top: 5%;
}
.text12{
    padding-top: 10% !important;
}
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top">

        </a>

        <a class="navbar-brand" href="/" style="font-family: 'Oleo Script', cursive;font-size: 1.8rem;">Paws Hunger</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:20% !important;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/help">I need you</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/nearmap">Find a Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/community">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/donation">Donate</a>
            </li>

          </ul>
          <form class="d-flex" role="search">

            <button class="btn btn-outline-success" type="submit">Volunteer</button>
          </form>
        </div>
      </div>
    </nav>
    <hr style="height:12px;">
    <img src="pet2.png" alt="" class="center" >
    <!-- name:String,
    contact:String,
    address:String,
    pincode:String,
    donatingItem:String,
    img:
    {
        data: Buffer,
        contentType: String
    },
    orderstatus:[String] -->
    <div class="grid-container container" style="margin-top: 5%;">
      <% data.forEach(function(item){ %>


        
        <div class="grid-item">
            <div class="container text-center">
                <div class="row">
                  <div class="col-sm-6">
                    <img src="data:image/<%=item.img.contentType%>;base64,
                    <%=item.img.data.toString('base64')%>" class="image">
                  </div>
                  <div class="col-sm-6 text12">
                    
                    <h5 style="margin-top: 4%;">Name:<%=item.name%> <br> Address: <%=item.address%>  <br> Product: <%=item.donatingItem%></h5>
                    <form action="/updatestatus" method="post">
                      <input type="hidden" value="<%=item._id%>"  name="id">
                    <input type="text" name="status" style="width: 50px;">
                    <button style="background-color: black !important;color:white !important;font-size: 16px;padding:3%">Update</button>
                    </form>
                  </div>
                  
                  
                </div>
              </div>
        </div>
    <% }) %>
        
      </div>
   

    
    <div class="container-fluid">
        <hr style="margin-top: 4% !important;">

     <div class="container-fluid footer" >
      <img src="insta.png" alt=""  width="50px" style="margin-right: 3%;">
      <img src="fb.png" alt=""  width="40px">
     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>